@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Urbanist:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');

/* selector universal */

*{
    font-family: 'Urbanist', sans-serif;
    /* reset no se usa si tengo BS
    padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

htlm{
    font-size: 62.5%;
}

/* css para la nueva nav en bs */

.botonera{
    background-color: rgb(205, 185, 126);
    position: sticky;
    width: 100%;
}

    .botonera ul li a{
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
}

        .botonera ul li a:link{
            color: white;
}

            .botonera ul li a:visited{
                color: white;
}

                .botonera ul li a:hover{
                    color: white;
                    font-weight: 500;
}

                    .botonera ul li a:active{
                        color: white;
}

                        .botonera ul li a[aria-current="page"] {
                            color: white;
}

header img{
    width: 100%;
}

#carouselMobile{
    display: none;
}

h1{
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2,5;
    margin: 30px;
}

h2{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1,8;
    margin: 30px;
}

p{
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1,5;
    margin: 20px;
}

iframe{
    margin: 20xp, 30px;
}

form{
    margin: 30px;
}

form div{
    margin-bottom: 10px;
}

/* prueba de escala de imagenes en pestaña fotografia (para que respeten el contenedor) */

main section a img{
    width: 100%;
}

main section a img:hover{
    opacity: 50%;
}

main section iframe{
    width: 100%;
}

footer{
    background-color: rgb(205, 185, 126);
    display: flex;
    justify-content: end;
    align-items: center;
    position:relative;
    width: 100%;
    bottom: 0;
}

    footer a{
        text-decoration: none;
}
        footer svg{
            fill: white;
            width: 30px;
            margin-right: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.calvino{
    margin-left: 100px;
    margin-right: 100px;
    font-style: italic;
}

/* page Mapas con flex */

.contenedormapa{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-end;
}

.boxmapa{
    width: 30%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    overflow-x: unset;
}

/* page Fotografia con grid */

.contenedorfoto{
    align-items: flex-end;
}

.grid{
    width: 99%;
    display: grid;
}

    .grid-template-columns-row{
        
}

.boxfoto{
    padding: 20px;
    overflow-x: auto;
}

.linkMore{
    color: rgb(205, 185, 126);
    font-size: 1.5rem;
    text-decoration: none;
}

.boxerror{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.botonerror{
    text-decoration: none;
    background-color: rgb(205, 185, 126);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

/* 1er breakpoint para tablet */

@media (max-width:768px){
    .grid-template-columns-row{
        grid-template-columns: repeat(2,1fr)
    }
    .boxmapa{
        width: 50%;
    }
    main div section p{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    #carouselMobile{
        display: none
    }
    .boxerror{
        justify-content: center;
        width: 90%;
    }
}

/* 2do breakpoint para celu */

@media (max-width:480px){
    .grid-template-columns-row{
        grid-template-columns: repeat(1,1fr)
    }
    .boxmapa{
        width: 90%;
    }
    main div section p{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    #carouselExampleControls{
        display: none;
    }
    #carouselMobile{
        display:inherit;
    }
    .h1ocultar{
        display: none
    }
    .pocultar{
        display: none;
    }
    .boxerror{
        justify-content: center;
        width: 80%;
    }
}