// 1er breakpoint para tablet

@media (max-width:768px){
    .nav-link{
        color: $mainColor;
    }
    .contenedorfoto{
        grid-template-columns: repeat(2,1fr)
    }
    .boxmapa{
        width: 50%;
    }
    main div section p{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    #carouselMobile{
        display: none
    }
    .boxerror{
        justify-content: center;
        width: 90%;
    }
}

// 2do breakpoint para celu

@media (max-width:480px){
    .nav-link{
        color: $mainColor;
    }
    .contenedorfoto{
        grid-template-columns: repeat(1,1fr)
    }
    .boxmapa{
        width: 90%;
    }
    main div section p{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    #carouselExampleControls{
        display: none;
    }
    #carouselMobile{
        display:inherit;
    }
    .h1ocultar{
        display: none
    }
    .pocultar{
        display: none;
    }
    .boxerror{
        justify-content: center;
        width: 80%;
    }
}

