h1{
    @include textos($textBold, $textLg, 2.5rem);
    margin: 30px;
}

h2{
    @include textos($textReg, $textMd, 1.8rem);
    margin: 30px;
}

p{
    @include textos($textLight, $textSm, 1.5rem);
    margin: 20px;
    line-height: 1.8rem;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.calvinoreg{
    margin-left: 100px;
    margin-right: 100px;
}

.petri{
    margin-left: 200px;
    margin-right: 200px;
}

