// nesting
*{
    box-sizing: border-box;
}

htlm{
    font-size: 62.5%;
}

// nav
.botonera{
    background-color: $mainColor;
    position: sticky;
    width: $wTotal;
        ul{
            li{
                a{
                    color: $secondaryColor;
                    font-size: $textSm;
                    font-weight: $textLight;
                    &:link{
                        color: $secondaryColor;
                    }
                    &:visited{
                        color: $secondaryColor;
                    }
                    &:hover{
                        color: $secondaryColor;
                        font-weight: $textReg;
                    }
                    &:active{
                        color: $secondaryColor;
                    }
                    &[aria-current="page"]{
                        color: $secondaryColor;
                    }
                }
            }
        }
}

// header
header{
    div{
        img{
            width: $wTotal;
        }
        #carouselMobile{
            display: none;
        }
    }
    
} 

// page Maps 
main{
    div{
        .contenedormapa{
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between;
            align-items: flex-end;
        }
        section{
            .boxmapa{
                width: 30%;
                height: auto;
                margin: 10px auto;
                padding: 10px;
                overflow-x: unset;
            }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; 
                overflow: hidden;
            }
            iframe{
                margin: 20xp, 30px;
            }
        }
    }
    div{
        a{
            .linkMore{
                text-decoration: none;
                background-color: $mainColor;
                border: none;
                color: $secondaryColor;
                font-size: $textMd;
                text-align: center;
            }
        }
    }
}

// page Fotografía 
main{
    div{
        .contenedorfoto{
            align-items: flex-end;
            width: 99%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            gap: 10px;
        }
        section{
            .boxfoto{
                padding: 20px;
                overflow-x: auto;
            }
            a{
                img{
                    width: $wTotal;
                    &:hover{
                        opacity: 50%;
                    }
                }
            }
        }
    }
}

// page Contacto
form{
    margin: 30px;
    div{
        margin-bottom: 10px;
    }
    input{
        text-decoration: none;
        background-color: $mainColor;
        border: none;
        color: $secondaryColor;
        font-size: $textMd;
        text-align: center;
        padding: 10px;
        .boton{
            text-decoration: none;
            background-color: $mainColor;
            border: none;
            color: $secondaryColor;
            font-size: $textMd;
            text-align: center;
            padding: 10px;
        }
    }
}

// footer
footer{
    background-color: $mainColor;
    display: flex;
    justify-content: end;
    align-items: center;
    position:relative;
    width: $wTotal;
    bottom: 0;
    a{
        text-decoration: none;
    }
    svg{
        fill: $secondaryColor;
        width: 30px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// error404
main{
    section{
        .boxerror{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 20px;
        }
    }
    a{
        .botonerror{
            text-decoration: none;
            background-color: $mainColor;
            border: none;
            color: $secondaryColor;
            font-size: $textMd;
            text-align: center;
            padding: 10px;
        }
    }
}