// extends
.calvinoitalic{
    @extend .calvinoreg;
    font-style: $textIt;
    line-height: 2rem;
}

.boton{
    @extend .linkMore;
    border-radius: 0.2;
}

// mixins
@mixin textos ($weight, $size, $lineheight){
    font-weight: $weight;
    font-size: $size;
    line-height: $lineheight;
    font-family: $mainFont;
}

