// extends
.calvinoitalic{
    @extend .calvinoreg;
    font-style: $textIt;
}

.linkMore{
    @extend .botonerror;
    border-radius: 0.1;
}

.boton{
    @extend .botonerror;
    border-radius: 0.1;
}

// mixins
@mixin textos ($weight, $size, $lineheight){
    font-weight: $weight;
    font-size: $size;
    line-height: $lineheight;
    font-family: $mainFont;
}

