// variables globales

// colores
$mainColor: rgb(205, 185, 126);
$secondaryColor: white;

// fonts
$mainFont: 'Urbanist', sans-serif;
$textLg: 2.5rem;
$textMd: 1.5rem;
$textSm: 1.2rem;
$textBold: 800;
$textReg: 500;
$textLight: 300;
$textIt: italic;

// sizing
$wTotal: 100%;
